$colorWhite = #fff;

gray($percent) {
  return lighten(#000, $percent);
}

$grayDarker = gray(13.5%);
$grayDark = gray(20%);
$gray = gray(50%);
$grayLight = gray(60%);
$grayLighter = gray(85%);
$grayLightest = gray(85%);

$fontBody ?= 'Merriweather', Georgia, serif;
$fontWeightBody ?= normal;
$fontHeading ?= 'Proxima Nova', 'Lato', Arial, sans-serif;
$fontWeightHeading ?= 100;

$textColor ?= gray(40%);
$headingColor ?= gray(5%);
